In [ ]:
import pandas as pd
from sqlalchemy import create_engine,text

In [ ]:
df=pd.read_csv("new_retail_data.csv")

In [ ]:
df=df[['Customer_ID','Transaction_ID', 'State', 'Country', 'Age', 'Gender',
       'Customer_Segment', 'Date', 'Time', 'Total_Purchases',
       'Amount', 'Total_Amount', 'Product_Category', 'Product_Brand',
       'Product_Type', 'products']]

In [ ]:
df[['Total_Purchases','Amount',]] = df[['Total_Purchases','Amount']].apply(pd.to_numeric, errors='coerce')

In [ ]:
df.drop_duplicates(subset=["Transaction_ID"], inplace=True)
df.dropna(subset=["Transaction_ID", "Date","Customer_ID","State"],inplace=True)

In [ ]:
columns_to_be_filled=['City','State',"Payment_Method","Product_Brand","Customer_Segment","Product_Category","Zipcode"]
for col in columns_to_be_filled:
    df[col]=df[col].fillna("Unknown")

df["Age"]=df["Age"].fillna(df["Age"].median())

df["Gender"] = (
    df.groupby("Customer_ID")["Gender"]
      .transform(lambda x: x.mode().iloc[0] if not x.mode().empty else pd.NA)
)

df["Customer_Segment"] = (
    df.groupby("Customer_ID")["Customer_Segment"]
      .transform(lambda x: x.mode().iloc[0] if not x.mode().empty else pd.NA)
)

In [ ]:
df["Total_Amt"]=round(df["Total_Purchases"]*df["Amount"],2)
df["Date"] = pd.to_datetime(df["Date"], errors="coerce")
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month_name()
df["Day"]=df["Date"].dt.day_name()
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S', errors='coerce').dt.strftime('%H:%M')

In [ ]:
df.dropna(subset=["Time","Total_Amt","Gender"],inplace=True)
df.drop("Total_Amount", axis=1, inplace=True)

In [ ]:
def fix_country(row):
    USA=['Virginia', 'Nevada', 'Colorado', 'Arkansas', 'Texas', 'Oklahoma',
       'Connecticut', 'Mississippi', 'Wisconsin', 'Oregon', 'Michigan',
       'Alaska', 'New Jersey', 'Wyoming', 'Maine', 'Idaho', 'Alabama',
       'New Hampshire', 'Minnesota', 'Delaware', 'South Carolina',
       'Nebraska', 'New Mexico', 'Arizona', 'Indiana', 'Iowa', 'Illinois',
       'Ohio', 'Georgia', 'New York', 'Pennsylvania', 'Massachusetts',
       'Rhode Island', 'Montana', 'Missouri', 'West Virginia',
       'Louisiana', 'Kansas', 'Kentucky', 'Washington', 'South Dakota',
       'California', 'Utah', 'Hawaii', 'North Carolina', 'Tennessee',
       'Maryland', 'Vermont', 'North Dakota', 'Florida']
    UK = ['England']
    Australia = ['New South Wales']
    Canada = ['Ontario']
    Germany = ['Berlin']

    if pd.isnull(row["Country"]):
        if row["State"] in USA:
            row["Country"] = "USA"
        elif row["State"] in UK:
            row["Country"] = "UK"
        elif row["State"] in Australia:
            row["Country"] = "Australia"
        elif row["State"] in Canada:
            row["Country"] = "Canada"
        elif row["State"] in Germany:
            row["Country"] = "Germany"
        else:
            row["Country"] = "Unknown"

    return row

df=df.apply(fix_country,axis=1)

In [ ]:
main_engine=create_engine("mysql+pymysql://root:mySQL2211%40%23@localhost:3306")
with main_engine.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS projectDB4"))
    conn.commit()
sql_engine=create_engine("mysql+pymysql://root:mySQL2211%40%23@localhost:3306/projectDB4")
df.to_sql(name="cleaned_retail_data",con=sql_engine,index=False,if_exists="replace")